.container{
    /* background-color: darkgoldenrod; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
              
  
  .form-container{
    margin: 30px 0 0px;
    height: 330px;
    width: 500px;
    /* background-color: chartreuse; */
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 6px;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  }
  
  .logo{
    display: flex;
    gap: 12px;
  }
  .gradient {
    /* background: linear-gradient(to right, #ffff00 0%, #0000FF 30%); */
        background-image: linear-gradient(to left, #00DDC5 0%, #00B1E9 30%, #0095C6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
  .logo img{
    margin-top: 5px;
    height: 30px;
  }
  
  .element-container h2{
    margin-bottom: 20px;
  }
  .element-container input,button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } 
  
  .element-container{
    /* background-color: violet; */
    margin-top: 70px;
  
  }
  
  .sub-container input{
    width: 450px;
    padding: 10px 0px;
    border: none;
    outline: none;
    /* background-color: aqua; */
  }
  
  .user {
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0, 101, 153, 0.36);
    width: 450px;
    margin-left: 23px;
  }
  .user img{
    height: 30px;
    margin-top: 3px;
    margin-left: 3px;
  }
  
  .password {
    display: flex;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0, 101, 153, 0.36);
    width: 450px;
    margin-left: 23px;
  }
  .password img{
    height: 28px;
    margin-top: 3px;
    margin-left: 3px;
  }
  
  .sub-container p{
    display: flex;
    margin-left: 25px;
    /* background-color: teal; */
    color: #0095C6;
    font-size: 1rem;
  }
  .forgot-click {
    text-decoration: none;
  }
  /* .sub-container {
    background-color: yellow;
  } */
  
  .sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: crimson; */
    margin-top: 25px;
  }
  .sub-btn button{
    padding: 5px;
    font-size: 1.1rem;
    width: 130px;
    border: none;
    border-radius: 5px;
    background: #0095C6;
    color: #fff;
    ;
  }
  
  .login-btn {
    text-decoration: none;
  }
  
  @media screen and (max-width: 600px) { 
    
    .form-container{
      width: 400px;
    }
    .sub-container{
      background-color:yellow;
      display: flex;
      flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
      
    }
    .sub-container input{
      width: 350px;
      margin: 10px 0px;
      
    }
  }