.header-container{
    /* background-color: cadetblue; */
    height: 8%;
}

.head-sub {
    display: flex;
    /* background-color: brown; */
    height: 100%;
    width: 85%;
}

.logo-container {
    display: flex;
    gap: 10px;
    /* background-color: blue; */
    height: 100%;
    width: 20%;
}
.logo-container h2{
    margin-top: 15px;
    font-size: 25px;
    /* background-color: burlywood; */
    background-image: linear-gradient(to left, #00DDC5 0%, #00B1E9 30%, #0095C6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.logo-container img{
    margin-top: 16px;
    margin-left: 10px;
    /* background-color:yellow; */
}

.notify {
    display: flex;
    height: 33px;
    /* height: max-content; */
    margin-top: 10px;
    margin-left: 80%;
    /* background-color: cornflowerblue; */
}