.navbar-container{
    /* background-color: cornflowerblue; */
    width: 13%;
}

.menu-container{
    height: 35%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: darkgoldenrod; */
}

.dash-btn {
    display: flex;
    /* background-color: #382933; */
    height: 25%;
}
.dash-btn p{
    max-height: 100px;
    /* background-color: darkorchid; */
    margin-top: 16px ;
    margin-left: 6px;
    font-size: 1.1rem;
}
.dash-btn img {
    margin-top: 8px;
    height: 40px;
    margin-left: 5px;
}
.user-btn {
    display: flex;
    background-color: rgba(0, 149, 198, 0.16);;
    height: 25%;
}
.user-btn p{
    /* background-color: darkorchid; */
    margin-top: 16px ;
    margin-left: 6px;
    font-size: 1.1rem;
}
.user-btn img {
    margin-top: 10px;
    height: 36px;
    margin-left: 5px;
}

.news-btn {
    display: flex;
    /* background-color: #519872; */
    height: 25%;
}
.news-btn p{
    /* background-color: darkorchid; */
    margin-top: 16px ;
    margin-left: 6px;
    font-size: 1.1rem;
}
.news-btn img {
    margin-top: 12px;
    height: 35px;
    margin-left: 5px;
}

.chat-btn {
    display: flex;
    /* background-color: #A4B494; */
    height: 25%;
}
.chat-btn p{
    /* background-color: darkorchid; */
    margin-top: 16px ;
    margin-left: 6px;
    font-size: 1.1rem;
}
.chat-btn img {
    margin-top: 15px;
    height: 35px;
    margin-left: 5px;
}