.reset-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.card{
    /* background-color: lightcoral; */
    border: 1px solid rgb(248, 247, 247);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.3);
    height: 300px;
    width: 493px;
    border-radius: 6px;
    text-align: center;
    margin: auto;
}
.card-title{
    position: relative;
    top: 20px;
    font-size: 30px;
}
.header{
    background-image: linear-gradient(to left, #00DDC5 0%, #00B1E9 30%, #0095C6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 30px;
}
a{
    color:black;
    
}
.text{
    border: 1px solid rgb(248, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 15px;
    width: 380px;
    height: 45px;
    display: flex;
    position: relative;
    left: 50px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
    padding-left: 35px;
    outline: none;
    /* background-color: rgb(51, 51, 49); */
}

.input{
    width: 320px;
    height: 44px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 17px;
}
.set-btn{
    position: relative;
    border: none;
    height: 45px;
    width: 180px;
    color: white;
    background-color: #0095c6;
    border-radius: 6px;
    font-size: 15px;
    margin-left: 160px;
}
.reset{
    position: relative;

}
.reset img{
    position:absolute;
    top: 10px;
    left: 55px;
    z-index: 1;
}

.back {
    /* background-color: brown; */
    margin-left: 6px;
}