
.full-sub-container{
    height: 570px;
    /* background-color: springgreen; */
}

.user-list-heading {
    background-color: #0095C6;
    padding: 13px 20px;
    color: #fff;
}

.sub-table {
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.07);
}

.sub-table table{
  width: 100%;
  height: 500px;
  text-align: center;
}

.sub-table table,th,td{
    border-bottom: 1px solid lightgray;
    border-collapse: collapse;
}

.sub-table th {
    padding: 5px 20px;
    font-size: 1.1rem;
}

.sub-table td {
    padding: 0px 8px;
}

/*----------Toggle button----------*/
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }