.user-container{
    background-color: #e5e5e5;
    width: 87%;
}

.user-text{
    /* background-color: cyan; */
    font-size: 1.7rem;
    margin-top: 8px;
    margin-left: 10px;
}

.table-container {
    margin: 23px 15px 0px;
}